
*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
.banner{

width:100%;
height:100vh;
background-image: url("https://images.pexels.com/photos/3750768/pexels-photo-3750768.jpeg?auto=compress&cs=tinysrgb&w=600");
/* background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://images.pexels.com/photos/11674118/pexels-photo-11674118.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"); */
background-size: cover;
background-position: center;

}
.navbar{

width: 85%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo{
width:200px ;
cursor: pointer;
color: bisque;
}
.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navbar ul li a{
text-decoration: none;
color: white;
text-transform:uppercase ;
}
.navbar ul li::after{
content: '';
height: 3px;
width: 0%;
background-color:#1e1d1f;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}
.navbar ul li:hover::after{
width: 100%;
color: blue;
cursor: pointer;
}
